@model IEnumerable<DataLayer.Models.PolicyDetail>

@{
    ViewData["Title"] = "Insurer | Requests";
    Layout = "~/Views/Shared/_LayoutInsurer.cshtml";
}
<style>
    .hover:hover {
        box-shadow: 0 0 20px black;
        background-image: linear-gradient(to right,#000428 , #004e92);
        color:white;
        transition: all ease-in-out 0.2s;
    }
    .hover{
        box-shadow:2px 2px 8px black;
    }
    .ass {
        width: 150px;
    }

        .ass:hover {
            border-radius: 20px;

            @*transition:all ease-in-out 0.3s;
            *@
        }
</style>
<h3 class="text-center container" style="background-color: teal; padding: 10px; margin-top: 20px; box-shadow: 0px 15px 10px -15px #111;">Current Requests</h3>
<br />
<div class="container">
    @foreach (var item in Model)
    {
        <div class="card hover" style="border-radius:20px">
            <div class="card-body">
                <h4 class="card-title">Asset Name : &nbsp;  @Html.DisplayFor(modelItem => item.Asset.AssetName)</h4>
                <h4>Broker email : &nbsp;  @Html.DisplayFor(modelItem => item.Broker.BrokerId)</h4>
                <h4>Policy Details:</h4>
                <div class="d-flex justify-content-between">
                    <div>
                        <p><strong>@Html.DisplayNameFor(model => model.StartDate):</strong> @item.StartDate.ToShortDateString()</p>
                        <p><strong>@Html.DisplayNameFor(model => model.Duration) (in months) :</strong> @Html.DisplayFor(modelItem => item.Duration)</p>
                        <p><strong>Maturity amount (in USD) :</strong> @Html.DisplayFor(modelItem => item.MaturityAmount)</p>
                    </div>
                    <div>
                        <p><strong>Lump Sum (in USD):</strong> @Html.DisplayFor(modelItem => item.LumpSum)</p>
                        <p><strong>@Html.DisplayNameFor(model => model.Premium) (in USD):</strong> @Html.DisplayFor(modelItem => item.Premium)</p>
                        <p><strong>PremiumInterval (in days):</strong> @Html.DisplayFor(modelItem => item.PremiumInterval)</p>
                    </div>
                    <div>
                        <p><strong>Policy Status:</strong> @Html.DisplayFor(modelItem => item.PolicyStatus)</p>
                        <p><strong>Review Status:</strong> @Html.DisplayFor(modelItem => item.ReviewStatus)</p>
                        <p><strong>Feedback:</strong> @Html.DisplayFor(modelItem => item.Feedback)</p>
                    </div>
                </div>
                <a class="btn btn-outline-success card-link ass" onclick="myMethod()" asp-action="Reject" asp-route-id="@item.PolicyId" asp-route-method="accepted">Accept</a>
                <a class="btn btn-outline-danger card-link ass" onclick="myMethod()" asp-action="Reject" asp-route-id="@item.PolicyId" asp-route-method="rejected">Reject</a>
            </div>
        </div>
        <br />
    }
</div>
