@model DataLayer.Models.PolicyDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PolicyDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LumpSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LumpSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PremiumInterval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PremiumInterval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaturityAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaturityAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Broker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Broker.BrokerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insurer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insurer.InsurerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PolicyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
