@model IEnumerable<DataLayer.Models.PolicyDetail>

@{
    Layout = "_LayoutBroker";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllPolicies</title>
    <style>
        td,th{
            text-align:center;
        }
    </style>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LumpSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremiumInterval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaturityAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LumpSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremiumInterval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaturityAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                <a class="btn btn-primary " asp-action="EditPolicy" asp-route-id="@item.PolicyId">Edit</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
