@model IEnumerable<DataLayer.Models.PolicyDetail>

@{
    Layout = "_LayoutBroker";
    ViewData["Title"] = "Broker | Policies";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .hover:hover {
            box-shadow: 0 0 20px black;
            background-image: linear-gradient(to right,#000428, #004e92);
            color: white;
            transition: all ease-in-out 0.2s;
        }
        .hover {
            box-shadow: 2px 2px 8px black;
        }
        .ass {
            width: 150px;
        }
            .ass:hover {
                border-radius: 20px;
            }
    </style>
</head>
<body>
    <h1 class="text-center container" style="background-color: teal; padding: 10px; margin-top: 20px; box-shadow: 0px 15px 10px -15px #111;">Policies</h1>
    <br />
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="card hover" style="border-radius:20px;">
                <div class="card-body">
                    <h4 class="card-title">Asset Id : &nbsp;  @Html.DisplayFor(modelItem => item.AssetId)</h4>
                    <h4>Policy Details:</h4>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p><strong>Start Date :</strong> @item.StartDate.ToShortDateString()</p>
                            <p><strong>Duration (in months) :</strong> @Html.DisplayFor(modelItem => item.Duration)</p>
                            <p><strong>Maturity amount (in USD) :</strong> @Html.DisplayFor(modelItem => item.MaturityAmount)</p>
                        </div>
                        <div>
                            <p><strong>LumpSum (in USD) :</strong> @Html.DisplayFor(modelItem => item.LumpSum)</p>
                            <p><strong>Premium (in USD) :</strong> @Html.DisplayFor(modelItem => item.Premium)</p>
                            <p><strong>Premium Interval (in days) :</strong> @Html.DisplayFor(modelItem => item.PremiumInterval)</p>
                        </div>
                        <div>
                            <p><strong>Policy Status :</strong> @Html.DisplayFor(modelItem => item.PolicyStatus)</p>
                            <p><strong>Review Status :</strong> @Html.DisplayFor(modelItem => item.ReviewStatus)</p>
                            <p><strong>Feedback :</strong> @Html.DisplayFor(modelItem => item.Feedback)</p>
                        </div>
                    </div>
                    <a class="btn btn-outline-primary card-link ass" asp-action="EditPolicy" asp-route-id="@item.PolicyId">Edit</a>
                </div>
            </div>
            <br />
        }
    </div>
</body>
</html>