@model DataLayer.Models.UserDetail

@{
    ViewData["Title"] = "Profile | Details";
    Layout = "_LayoutLogReg";
}
<style>
    .ass
    {
        width:150px;

    }
    .ass:hover
    {
        border-radius:20px;
    }
</style>
<div class="mx-auto" style="width: 430px; margin-top: 50px; padding-bottom: 50px;">
    <div class="card shadow-lg" style="border-radius:20px">

                    <img src="https://cdn-icons-png.flaticon.com/512/306/306473.png"
                         class="card-img-top"
                         alt="Apple Computer" style="width:300px;height:300px;padding:10px;align-self:center" />
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Profile</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-5">
                                    Name
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.FirstName)
                                    @Html.DisplayFor(model => model.LastName)
                                </dd>
                                <dt class="col-sm-5">
                                    Gender
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.Gender)
                                </dd>
                                <dt class="col-sm-5">
                                    Role
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.Role)
                                </dd>
                                @if (Model.Role == "broker" || Model.Role == "insurer")
                                {
                                    <dt class="col-sm-5">
                                        License Id
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.LicenseId)
                                    </dd>
                                }
                            </dl>

                            <div class="py-3">
                                <a class="btn btn-outline-primary ass" asp-action="Edit" asp-route-id="@Model.UserId">Edit</a>
                                &nbsp;
                                @{

                                    if (Model.Role == "broker")
                                    {
                                        <a class="btn btn-outline-success ass" asp-action="Index" asp-controller="Broker">Back to Home</a>
                                    }

                                    if (Model.Role == "insurer")
                                    {
                                        <a class="btn btn-outline-success ass" asp-action="Index" asp-controller="Insurer">Back to Home</a>
                                    }
                                    if (Model.Role == "buyer")
                                    {
                                        <a class="btn btn-outline-success ass" asp-action="Index" asp-controller="Buyer">Back to Home</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
