@model DataLayer.Models.BuyerAsset

@{
    ViewData["Title"] = "Buyer | Delete Asset";
    Layout = "_LayoutLogReg";
}
<style>
    input[type="submit"]
    {
        width:250px;
    }
    input[type="submit"]:hover
    {
        border-radius:20px;

        @*transition:all ease-in-out 0.3s;
            *@
    }
</style>
<section >
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card text-black" style="border-radius:10px; box-shadow:0 0 20px black;">
                    <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
                    <img src="https://www.payetteforward.com/wp-content/uploads/2020/10/iphone-wont-delete-photos-fix-1920x1080.jpg"
                         class="card-img-top"
                         alt="Apple Computer" />
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Asset</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.AssetName)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.AssetName)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.PriceUsd)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.PriceUsd)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.Type)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.Type)
                                </dd>
                                @*
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Request)
        </dt>

            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Request)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Country.CountryName)
            </dd class>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.User.UserId)
            </dd class>
                                *@
                            </dl>
                            <form asp-action="DeleteOneAsset">
                                <input type="hidden" asp-for="AssetId" />
                                <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
                                <div class="py-3">
                                    <a asp-action="DisplayAssets">Back to List</a>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
