@model IEnumerable<DataLayer.Models.BrokerDetail>

@{
    ViewData["Title"] = "RequestToBroker";
    Layout = "_LayoutBuyer";
}
<script>
    function myFunction() {
        alert("Request has been sent successfully!");
    }
</script>

<h1>Request Broker</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Broker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCount)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.Commission)
                </th>
            *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrokerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCount)
                </td>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.Commission)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Broker.UserId)
                    </td>
                *@
                <td>
                    <a class="btn btn-sm btn-success" asp-action="AddRequest1" onclick="myFunction()" asp-route-BrokerId="@item.BrokerId ">Send Request</a>

                </td>
            </tr>
        }
    </tbody>
</table>
